/*AUTO*/

header{   
    font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
    text-align: center;
    background-color: #FFFFFF;
    padding: 10px;
}

main{
    font-family: 'Libre Franklin', sans-serif;
    background-color: #ffcf4a;
    padding: 10px;
}

footer{
    font-family: 'Libre Franklin', sans-serif; 
    background-color: #FFFFFF;
    padding: 10px;
    text-align: center;
}

/*THESE ARE GOTTEN FROM https://www.w3schools.com/css/css_navbar.asp*/

ul{
    list-style-type: none;
/*    overflow: hidden;*/
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
/*  The whole navbar*/
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
}

li a{
/*    Each part of the nav bar*/
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    display: block;
    padding: 8px 25px;
    color: #000000;
    background-color: #FFFFFF;
}

li a:hover{
    background-color: #4ef2f0;
    color: #FFFFFF;
}

/*CLASSES*/

.active {
  background-color: #3f4ec4;
  color: #FFFFFF;
}

/*THESE ARE GOTTEN FROM https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp*/

.row{
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

.column{
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 24%;
  padding: 0 4px;
}

.column img {
  margin-top: 15px;
  vertical-align: middle;
  width: 100%;
}

.heroImage{ 
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;  
    
    background-image: url("../images/beach.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}

.heroText{  
    width: 100vw;/*Make it as wide as you can*/
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
